.row.headline.sessions
  .col-md-6.col-md-offset-3
    %h2
      Book in a Box
      %span
        for editors

.row.main-form
  .col-md-6.col-md-offset-3
    = form_for(:session, url: sessions_path) do |f|

      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      = f.submit "Log in", class: "btn btn-primary"
      -# = link_to "Forgot Password?", new_password_reset_path, class: "btn btn-default"
