.row.headline.admin
  .col-md-6.col-md-offset-3
    %h3 What Type of Editor are You Looking for?

.row
  .col-md-10.col-md-offset-1
    = form_tag admin_index_path, method: "get"
    .row.search-options
      .col-md-3
        %h4 Looking for Work?
        .checkbox
          = check_box_tag "looking_for_work[]", true, false, class: "interests-new"
          = label_tag "Yes"
        .checkbox
          = check_box_tag "looking_for_work[]", false, false, class: "interests-new"
          = label_tag "No"
      .col-md-3
        %h4 Editor Classification
        .checkbox
          = check_box_tag "classification[]", "a_list", false, class: "interests-new"
          = label_tag "A-List"
        .checkbox
          = check_box_tag "classification[]", "b_list", false, class: "interests-new"
          = label_tag "B-List"
        .checkbox
          = check_box_tag "classification[]", "first_assignment", false, class: "interests-new"
          = label_tag "First Assignment"
        .checkbox
          = check_box_tag "classification[]", "not_yet_assigned", false, class: "interests-new"
          = label_tag "Not Yet Assigned"
      .col-md-5
        %h4 Interests
        .row
          .col-md-6
            - Category.all[0..5].each do |category|
              .checkbox
                = check_box_tag "category[]", category.id, false, class: "interests-new"
                = label_tag category.pretty_name
          .col-md-6
            - Category.all[6..-1].each do |category|
              .checkbox
                = check_box_tag "category[]", category.id, false, class: "interests-new"
                = label_tag category.pretty_name
    .row
      = submit_tag "Search", class: "btn btn-default submit-button"


.row
  .col-md-12
    - if @editors.empty?
      .no-results
        %h5 No results found.
    - else
      %table.table
        %tr
          %th Name
          %th Email
          %th Editor Classification
          %th Notes
          %th
          %th
        - @editors.each do |editor|
          %tr{ class: "#{ looking_for_work_class(editor) }"}
            %td{ width: "15%"}
              = editor.full_name
            %td{ width: "15%"}
              = editor.email
            %td{ width: "15%"}
              = editor.pretty_classification
            %td{ width: "25%"}
              = editor.notes
            %td{ width: "5%"}
              = link_to "Edit", edit_user_path(editor), class: "btn btn-default"
            %td{ width: "5%"}
              = link_to "Delete Editor", user_path(editor), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
