.row.headline.admin
  .col-md-6.col-md-offset-3
    - if params[:looking_for_work] == "true"
      %h2 Editors Looking for Work
    - elsif params[:looking_for_work] == "false"
      %h2 Editors Not Looking for Work
    - else
      %h2 All Editors

.row
  .col-md-6.col-md-offset-3
    .search-buttons
      = link_to "All Editors", admin_index_path, class: "btn btn-default search-button"
      = link_to "Only Looking for Work", "/admin?looking_for_work=true", class: "btn btn-success search-button"
      = link_to "Not Looking for Work", "/admin?looking_for_work=false", class: "btn btn-danger search-button"


.row
  .col-md-8.col-md-offset-2
    - if @editors.empty?
      .no-results
        %h5 No results found.
    - else
      %table.table
        %tr
          %th Name
          %th Email
          %th Looking for Work?
          %th
          %th
        - @editors.each do |editor|
          %tr{ class: "#{ looking_for_work_class(editor) }"}
            %td
              = editor.full_name
            %td
              = editor.email
            %td
              - if editor.looking_for_work?
                YES, I WANT MORE WORK
              - else
                NO, LEAVE ME ALONE
            %td
              = link_to "Edit", edit_user_path(editor), class: "btn btn-default"
            %td
              = link_to "Delete Editor", user_path(editor), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
