.row.headline.admin
  .col-md-6.col-md-offset-3
    %h3 What Kind of Freelancer are You Looking for?

.row
  .col-md-10.col-md-offset-1
    = form_tag admin_index_path, method: "get"
    .row.search-options
      .col-md-3
        %h4 Looking for Work?
        .checkbox
          = check_box_tag "looking_for_work[]", true, false, class: "interests-new"
          = label_tag "Yes"
        .checkbox
          = check_box_tag "looking_for_work[]", false, false, class: "interests-new"
          = label_tag "No"
      .col-md-3
        %h4 Freelancer Classification
        .checkbox
          = check_box_tag "classification[]", "editor", false, class: "interests-new"
          = label_tag "Editor"
        .checkbox
          = check_box_tag "classification[]", "book_developer", false, class: "interests-new"
          = label_tag "Book Developer"
        .checkbox
          = check_box_tag "classification[]", "proof_reader", false, class: "interests-new"
          = label_tag "Proofreader"
        .checkbox
          = check_box_tag "classification[]", "cover_designer", false, class: "interests-new"
          = label_tag "Cover Designer"
        .checkbox
          = check_box_tag "classification[]", "copywriter", false, class: "interests-new"
          = label_tag "Copywriter"
        .checkbox
          = check_box_tag "classification[]", "interior_layout_designer", false, class: "interests-new"
          = label_tag "Interior Layout Designer"
        .checkbox
          = check_box_tag "classification[]", "book_marketer", false, class: "interests-new"
          = label_tag "Book Marketer"
      .col-md-5
        %h4 Interests
        .row
          .col-md-6
            - Category.all[0..5].each do |category|
              .checkbox
                = check_box_tag "category[]", category.id, false, class: "interests-new"
                = label_tag category.pretty_name
          .col-md-6
            - Category.all[6..-1].each do |category|
              .checkbox
                = check_box_tag "category[]", category.id, false, class: "interests-new"
                = label_tag category.pretty_name
    .row
      = submit_tag "Search", class: "btn btn-default submit-button"

.row
  .col-md-8.col-md-offset-2
    .suggestion-box
      %h3 Resources
      %ul
        %li
          %a{ href: "https://docs.google.com/document/d/1mK042vYCVqXZ8-oh9dX4TsSCEg9RP1rEdlrIvb8eB8Y", target: "_blank" }
            Editor Guide:
          The comprehensive guide to doing your job as a BIAB editor.
        %li
          %a{ href: "https://www.dropbox.com/request/sYoMH4RMI8zrjYI3YCjs", target: "_blank" }
            Interview Submissions:
          Here's the Dropbox link to submit your interview MP3s for transcription.
        %li
          %a{ href: "https://bookinabox.wufoo.com/forms/m4ysaqf0q87tkb/", target: "_blank" }
            Final Manuscript Submission:
          When the final manuscript is locked and edited, this is where it goes.
        %li
          %a{ href: "https://bookinabox.wufoo.com/forms/zaam09q12tjaw5/", target: "_blank" }
            Suggestion Box:
          What could we do to make your job better? Let us know here.


.row
  .col-md-12.editor-table
    - if @editors.empty?
      .no-results
        %h5 No results found.
    - else
      %table.table
        %tr
          %th Name
          %th Email
          %th Freelancer Classification
          %th Notes
          %th
          %th
        - @editors.each do |editor|
          %tr{ class: "#{ looking_for_work_class(editor) }"}
            %td{ width: "15%"}
              = editor.full_name
            %td{ width: "15%"}
              = editor.email
            %td{ width: "15%"}
              = editor.pretty_classification
            %td{ width: "25%"}
              = editor.notes
            %td{ width: "5%"}
              = link_to "Edit", edit_user_path(editor), class: "btn btn-default"
            %td{ width: "5%"}
              = link_to "Delete Editor", user_path(editor), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
