.row
  .col-md-6.col-md-offset-3
    .work-status
      %p
        %strong Are you looking for work?
      %p.hint
        Note: A project's start date could be anywhere from 1-3 weeks, so take that into consideration when projecting your availability.
      %div{ class: "looking-for-work #{looking_for_work_class(@user)}" }
        - if @user.looking_for_work?
          %p Available for Work
        - else
          %p Currently Busy
        = link_to "Change Status", change_status_path, class: "btn btn-#{looking_for_work_class(@user)}"
.row
  .col-md-10.col-md-offset-1
    .notes-section
      = form_for @user do |f|
        .form-group
          = f.label :notes, "Notes"
          = f.text_area :notes, class: "form-control"

          .capacity-block.form-group
            %p Please consider your expected availability for taking on new work without major interruptions:

            .space-block
              %p How many total NEW projects would you like THIS calendar month? (No need to update during the month, we’ll track your assignments.)
              = f.text_field :current_capacity, class: "form-control"

            .space-block
              %p How many total NEW projects do you think you will want NEXT calendar month?
              = f.text_field :next_capacity, class: "form-control"

          = f.submit "Save", class: "btn btn-primary"
.row
  .col-md-12
    .suggestion-box
      %a{ href: "https://sites.google.com/bookinabox.com/freelancerknowledgecenter/home", target: "_blank" }
        BIAB Freelancer Knowledge Center
