.row
  .col-md-6.col-md-offset-3
    .work-status
      %p
        %strong Are you looking for work?
      %p.hint
        Note: A project's start date could be anywhere from 1-3 weeks, so take that into consideration when projecting your availability.
      %div{ class: "looking-for-work #{looking_for_work_class(@user)}" }
        - if @user.looking_for_work?
          %p Available for Work
        - else
          %p Currently Busy
        = link_to "Change Status", change_status_path, class: "btn btn-#{looking_for_work_class(@user)}"
.row
  .col-md-8.col-md-offset-2
    .notes-section
      = form_for @user do |f|
        .form-group
          = f.label :notes, "Notes"
          = f.text_area :notes, class: "form-control"

          = f.submit "Save", class: "btn btn-primary"
.row
  .col-md-12
    .suggestion-box
      %h3 Resources
      %ul#resource-dropdowns
        %li
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              General Resources
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "https://docs.google.com/document/d/1CmV67OIbcZ93a2jF-rnMK0Jyxfcp9XbqXi0DwimILuc/edit?usp=sharing", target: "_blank" } FAQ: A (constantly growing) list of the most common issues that editors run into.
              %li
                %a{ href: "http://bookinabox.com/tutorials/", target: "_blank" } Tutorials: Step-by-step tutorials to the most common parts of your job.
              %li
                %a{ href: "https://bookinabox.wufoo.com/forms/zaam09q12tjaw5/", target: "_blank" } Suggestion Box: What can we do to make your job better? Let us know here
        %li
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Editor Resources
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "https://bookinabox.wufoo.com/forms/q11gkmui1d3omt6/", target: "_blank" } Upload Author Interviews: Here's the form to submit your interview recordings for immediate transcription.
              %li
                %a{ href: "https://bookinabox.wufoo.com/forms/m4ysaqf0q87tkb/", target: "_blank" } Final MS Submission: When the final manuscript is revised and locked, this is where it goes.
              %li
                %a{ href: "https://bookinabox.wufoo.com/forms/rj8l6nx0afoulh", target: "_blank" } Editor Time Log: Let us know when you reach the 60 hour mark on a project.
              %br
              %li.dropdown-header Training
              %br
              %li
                %a{ href: "https://drive.google.com/folderview?id=0BwefpHtGRr74Wmx0ZzNvWHZnYUE&usp=sharing", target: "_blank" } Editor Guide: Training Modules
              %br
              %li
                %a{ href: "https://docs.google.com/document/d/1ayl-5tzSElLMDLMGQyKrT_R9tj4sEvspIlZrGZsATX4/edit?usp=sharing", target: "_blank" } Common Mistakes in Translation
              %br
              %li
                %a{ href: "https://drive.google.com/file/d/0B2RJeSFTOXy4eGNQbFh6ZHQ1Yzg/view?usp=sharing", target: "_blank" } Transcript to Manuscript Process Doc
              %br
              %li
                %a{ href: "https://docs.google.com/document/d/1rVI2awwtUdmQMfOt368v6C19akPhnD0WD_nXHTPb6xw/edit?usp=sharing", target: "_blank" } Author/Editor Introduction Email Template
              %br
              %li
                %a{ href: "https://www.dropbox.com/sh/55dnzsz7ahkqxxh/AAAvXcYLF4ZmIeZ2oEc8WJJFa?dl=0", target: "_blank" } Editor Training Calls: Recorded versions of all of our monthly Editor calls.
              %br
              %li
                %a{ href: "https://drive.google.com/open?id=0B_rZtiVBE5s6blhTU3RfcExrNVE", target: "_blank" } Stuff You Need to Know
        %li
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Book Developer Resources
              %span.caret
            %ul.dropdown-menu
              %li.dropdown-header Training
              %br
              %li
                %a{ href: "https://drive.google.com/folderview?id=0B6-7L-z6_qPSYVBCMjJzWXV6d0E&usp=sharing", target: "_blank" } Training Modules
              %br
              %li
                %a{ href: "https://drive.google.com/a/bookinabox.com/file/d/0B6-7L-z6_qPSQzZldG96R3JKTzg/view", target: "_blank" } Book Developer Common Mistakes
              %li
                %a{ href: "https://www.dropbox.com/sh/nz3r80onczbxftx/AAArw278CiFvjnj-ODCW-q6Ma?dl=0", target: "_blank" } Book Developer Training Calls: Recorded versions of all of our monthly Book Developer calls.
        %li
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Proofreader Resources
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "https://docs.google.com/document/d/1ExdJv9UXumO9ezHhWW40NQmv_UdUOowmbUgOtmNV3RU/edit?usp=sharing", target: "_blank" } Proofreader Guide
              %li
                %a{ href: "https://docs.google.com/document/d/1Q0k4t2tUiFa7HMv2BMYjg1KnDmfCotOpMq3nLN0oHww/edit?usp=sharing", target: "_blank" } Style Guide
        %li
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              BIAB Resources for Authors
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "http://bookinabox.com/how-to-title-a-book", target: "_blank" } How to Title a Book
              %li
                %a{ href: "http://bookinabox.com/how-to-take-an-author-photo", target: "_blank" } How to Take an Author Photo
              %li
                %a{ href: "http://bookinabox.com/book-blurbs/", target: "_blank" } How to Get Incredible Book Blurbs for Your Book
              %li
                %a{ href: "http://bookinabox.com/how-to-get-attention/", target: "_blank" } How to Get Attention
