.row
  .col-md-6.col-md-offset-3
    .work-status
      %p
        %strong Are you looking for work?
      %p.hint
        Note: It'll be about 4 weeks from assignment of a project to getting started, so project your availability 4 weeks out.
      %div{ class: "looking-for-work #{looking_for_work_class(@user)}" }
        - if @user.looking_for_work?
          %p Available for Work
        - else
          %p Currently Busy
        = link_to "Change Status", change_status_path, class: "btn btn-#{looking_for_work_class(@user)}"
.row
  .col-md-6.col-md-offset-3
    .notes-section
      = form_for @user do |f|
        .form-group
          = f.label :notes, "Notes"
          = f.text_area :notes, class: "form-control"

          = f.submit "Save", class: "btn btn-primary"
    .suggestion-box
      %a{ href: "https://bookinabox.wufoo.com/forms/zaam09q12tjaw5/", target: "_blank" }
        Suggestion Box
      %p What could we do to make your job better? Let us know here.
