.row
  .col-md-6.col-md-offset-3
    .work-status
      %p
        %strong Are you looking for work?
      %p.hint
        Note: A project's start date could be anywhere from 1-3 weeks, so take that into consideration when projecting your availability.
      %div{ class: "looking-for-work #{looking_for_work_class(@user)}" }
        - if @user.looking_for_work?
          %p Available for Work
        - else
          %p Currently Busy
        = link_to "Change Status", change_status_path, class: "btn btn-#{looking_for_work_class(@user)}"
.row
  .col-md-8.col-md-offset-2
    .notes-section
      = form_for @user do |f|
        .form-group
          = f.label :notes, "Notes"
          = f.text_area :notes, class: "form-control"

          = f.submit "Save", class: "btn btn-primary"
    .suggestion-box
      %h3 Resources
      %ul
        %li
          %a{ href: "https://docs.google.com/document/d/1mK042vYCVqXZ8-oh9dX4TsSCEg9RP1rEdlrIvb8eB8Y", target: "_blank" }
            Editor Guide:
          The comprehensive guide to doing your job as a BIAB editor.
        %li
          %a{ href: "https://www.dropbox.com/request/sYoMH4RMI8zrjYI3YCjs", target: "_blank" }
            Interview Submissions:
          Here's the Dropbox link to submit your interview MP3s for transcription.
        %li
          %a{ href: "https://bookinabox.wufoo.com/forms/m4ysaqf0q87tkb/", target: "_blank" }
            Final Manuscript Submission:
          When the final manuscript is locked and edited, this is where it goes.
        %li
          %a{ href: "https://bookinabox.wufoo.com/forms/zaam09q12tjaw5/", target: "_blank" }
            Suggestion Box:
          What could we do to make your job better? Let us know here.
        %li
          %a{ href: "https://www.dropbox.com/sh/g95frds0sw0rl5g/AAAJpUY0KBguQNQZYvdzhhi_a?dl=0", target: "_blank" }
            Editor Conference Calls:
          Recorded versions of all of our monthly editor calls.
        %li
          %a{ href: "https://docs.google.com/document/d/1CmV67OIbcZ93a2jF-rnMK0Jyxfcp9XbqXi0DwimILuc/edit?usp=sharing", target: "_blank" }
            Editor FAQ:
          A (constantly growing) list of the most comment issues that editors run into.
        %li
          %a{ href: "http://bookinabox.com/tutorials", target: "_blank" }
            Freelancer Tutorials:
          Step-by-step tutorials to the most common parts of your job [under construction].
        %li
          %a{ href: "https://bookinabox.wufoo.com/forms/q11gkmui1d3omt6/", target: "_blank" }
            New Interview Submissions:
          Here's the form to submit your interview recordings for immediate transcription. (Effective as of 3/10/2016)
        %li
          %a{ href: "https://docs.google.com/document/d/1ayl-5tzSElLMDLMGQyKrT_R9tj4sEvspIlZrGZsATX4/edit?usp=sharing", target: "_blank" }
            Editor Common Mistakes:
          A run through of the most common mistakes we see in the translation/editing process.
        %li
          %a{ href: "https://drive.google.com/open?id=0B6-7L-z6_qPSQzZldG96R3JKTzg", target: "_blank" }
            Book Developer Common Mistakes:
          A run through of the most common mistakes we see in the outlining process.
        %li
          %a{ href: "https://docs.google.com/a/bookinabox.com/document/d/1Q0k4t2tUiFa7HMv2BMYjg1KnDmfCotOpMq3nLN0oHww/edit?usp=sharing", target: "_blank" }
            Editor Style Guide:
          Our format and style guidelines for all manuscripts.
