.row.headline.user-show
  .col-md-6.col-md-offset-3
    - if current_user.admin? && @user != current_user
      %h2
        = @user.full_name
    - else
      %h2 Hello, #{@user.first_name}.
      %h3 Here are your current settings.


.row.user-info
  .col-md-6.col-md-offset-3
    .names.row
      .col-md-4
        %p
          %strong First Name
        %p
          = @user.first_name
      .col-md-4
        %p
          %strong Last Name
        %p
          = @user.last_name
      .col-md-4
        .email
          %p
            %strong Email
          %p
            = @user.email

.row
  .col-md-6.col-md-offset-3
    - unless @user.admin?
      .work-status
        %p
          %strong Are you looking for work?
        %div{ class: "looking-for-work #{looking_for_work_class(@user)}" }
          - if @user.looking_for_work?
            %p YES, I WANT MORE WORK
          - else
            %p NO, LEAVE ME ALONE
          = link_to "Change Status", change_status_path, class: "btn btn-#{looking_for_work_class(@user)}"
