!!!
%html
  %head
    %title Book in a Box
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user
      = render 'layouts/header'
    .container
      = render 'layouts/success'
      = render 'layouts/warning'
      = render 'layouts/error'

      = yield
